<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <!-- Start the plugin at Eclipse startup -->
    <extension point="org.eclipse.ui.startup">
     <startup class="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.DatenmodellGeneratorVisualizerPlugin">
     </startup>
  </extension>

    <!-- Defines my own custom marker, use the marker view panel to see them when they are created-->
    <extension point="org.eclipse.core.resources.markers"
      id="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.generated"
      name="DG: Generated">
        <super type="org.eclipse.core.resources.textmarker"/>
        <!--http://stackoverflow.com/questions/8866688/eclipse-pde-custom-quickfix-only-available-in-problems-view -->
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.marker"/>
        <persistent value="true"/>
        <attribute name="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.attr.complement.genFile.url" />
    </extension> 
    <extension point="org.eclipse.core.resources.markers"
      id="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.added"
      name="DG: Added">
        <super type="org.eclipse.core.resources.textmarker"/>
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.marker"/>
        <persistent value="true"/>
        <attribute name="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.attr.complement.genFile.url" />
    </extension> 
    <extension point="org.eclipse.core.resources.markers"
      id="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.deleted"
      name="DG: Deleted">
        <super type="org.eclipse.core.resources.textmarker"/>
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.marker"/>
        <persistent value="true"/>
        <attribute name="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.attr.complement.genFile.url" />
    </extension> 
    <extension point="org.eclipse.core.resources.markers"
      id="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.changedBoth"
      name="DG: Modified">
        <super type="org.eclipse.core.resources.textmarker"/>
        <super type="org.eclipse.core.resources.problemmarker"/>
        <super type="org.eclipse.core.resources.marker"/>
        <persistent value="true"/>
        <attribute name="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.attr.complement.genFile.url" />
    </extension> 
    
    <!-- Annotation specification:- describes what the annotation will look like and its properties -->
    <extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
      id="annotationSpecificationGenerated"
      name="GeneratedAnnotation">
        <specification
          annotationType="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.annotation.generated"
          label="Datenmodell Generator (generated)"
          icon="icons/fontAwesome/generated.png"
          overviewRulerPreferenceKey="dgvGeneratedRuler"
          overviewRulerPreferenceValue="true"
          colorPreferenceKey="dgvGeneratedColor"
          colorPreferenceValue="198,222,230"
          textPreferenceKey="dgvGeneratedText"
          textPreferenceValue="true"
          verticalRulerPreferenceKey="dgvGeneratedVertical"
          verticalRulerPreferenceValue="true"
          textStylePreferenceKey="dgvGeneratedTextStyle"
          textStylePreferenceValue="BOX"
          highlightPreferenceKey="dgvGeneratedHighlight"
          highlightPreferenceValue="true">
        </specification>
    </extension>
    <extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
      id="annotationSpecificationAdded"
      name="AddedAnnotation">
        <specification
          annotationType="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.annotation.added"
          label="Datenmodell Generator (added)"
          icon="icons/fontAwesome/plus.png"
          overviewRulerPreferenceKey="dgvAddedRuler"
          overviewRulerPreferenceValue="true"
          colorPreferenceKey="dgvAddedColor"
          colorPreferenceValue="187,242,187"
          textPreferenceKey="dgvAddedText"
          textPreferenceValue="true"
          verticalRulerPreferenceKey="dgvAddedVertical"
          verticalRulerPreferenceValue="true"
          textStylePreferenceKey="dgvAddedTextStyle"
          textStylePreferenceValue="BOX"
          highlightPreferenceKey="dgvAddedHighlight"
          highlightPreferenceValue="true">
        </specification>
    </extension>
    <extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
      id="annotationSpecificationDeleted"
      name="DeletedAnnotation">
        <specification
          annotationType="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.annotation.deleted"
          label="Datenmodell Generator (deleted)"
          icon="icons/fontAwesome/minus.png"
          overviewRulerPreferenceKey="dgvDeletedRuler"
          overviewRulerPreferenceValue="false"
          textPreferenceKey="dgvDeletedText"
          textPreferenceValue="true"
          verticalRulerPreferenceKey="dgvDeletedVertical"
          verticalRulerPreferenceValue="true"
          textStylePreferenceKey="dgvDeletedTextStyle"
          textStylePreferenceValue="IBEAM"
          colorPreferenceKey="dgvDeletedColor"
          colorPreferenceValue="152,29,29">
        </specification>
    </extension>
    <extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
      id="annotationSpecificationChangedBoth"
      name="ChangedBothAnnotation">
        <specification
          annotationType="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.annotation.changedBoth"
          label="Datenmodell Generator (modified)"
          icon="icons/fontAwesome/modified.png"
          overviewRulerPreferenceKey="dgvChangedBothRuler"
          overviewRulerPreferenceValue="true"
          colorPreferenceKey="dgvChangedBothColor"
          colorPreferenceValue="241,216,197"
          textPreferenceKey="dgvChangedBothText"
          textPreferenceValue="true"
          verticalRulerPreferenceKey="dgvChangedBothVertical"
          verticalRulerPreferenceValue="true"
          textStylePreferenceKey="dgvChangedBothTextStyle"
          textStylePreferenceValue="BOX"
          highlightPreferenceKey="dgvChangedBothHighlight"
          highlightPreferenceValue="true">
        </specification>
    </extension>
    
    <!-- Links the annotation spec to the marker -->
    <extension point="org.eclipse.ui.editors.annotationTypes">
        <type
          markerSeverity="0"
          super="org.eclipse.ui.workbench.texteditor.info"
          name="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.annotation.generated"
          markerType="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.generated"/>
    </extension>
    <extension point="org.eclipse.ui.editors.annotationTypes">
        <type
          markerSeverity="0"
          super="org.eclipse.ui.workbench.texteditor.info"
          name="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.annotation.added"
          markerType="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.added"/>
    </extension>
    <extension point="org.eclipse.ui.editors.annotationTypes">
        <type
          markerSeverity="0"
          super="org.eclipse.ui.workbench.texteditor.info"
          name="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.annotation.deleted"
          markerType="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.deleted"/>
    </extension>
    <extension point="org.eclipse.ui.editors.annotationTypes">
        <type
          markerSeverity="0"
          super="org.eclipse.ui.workbench.texteditor.info"
          name="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.annotation.changedBoth"
          markerType="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.changedBoth"/>
    </extension>
    
    <!--
    <extension point="org.eclipse.ui.ide.markerHelp"> 
        <markerHelp 
          markerType="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.generated" 
          helpContextId="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.generated.context" /> 
    </extension> 
    -->
    
    <!-- showing quick fixes -->
    <extension point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
          markerType="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.generated"
          class="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.quickfix.MarkerResolutionGenerator">
        </markerResolutionGenerator>
        <markerResolutionGenerator
          markerType="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.added"
          class="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.quickfix.MarkerResolutionGenerator">
        </markerResolutionGenerator>
        <markerResolutionGenerator
          markerType="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.deleted"
          class="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.quickfix.MarkerResolutionGenerator">
        </markerResolutionGenerator>
        <markerResolutionGenerator
          markerType="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.changedBoth"
          class="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.marker.quickfix.MarkerResolutionGenerator">
        </markerResolutionGenerator>
    </extension>
    
    <!-- Preferences -->
    <extension point="org.eclipse.ui.preferencePages">
       <page
         class="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.preferences.Preferences"
         id="datenmodell-generator-visualizer.preferences.pref"
         name="DG Visualizer">
       </page>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
          <initializer
                class="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.preferences.PrefInitializer">
          </initializer>
    </extension>
    
    <!-- Popup menu to add a menu to right click of a java file in the package explorer-->
    <extension point="org.eclipse.ui.menus">
        <!-- submenu: http://stackoverflow.com/questions/15953454/how-to-contribute-to-a-sub-menu-of-context-menu -->
        <!-- menu bar -->
        <menuContribution locationURI="menu:project?after=additions">
            <menu id="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.command.rootmenu" 
              label="Datenmodell Generator Visualizer" 
              icon="icons/fontAwesome/fire.png">
                <command
                  commandId="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.command.reset"
                  label="Reset all Markers"
                  icon="icons/fontAwesome/refresh.png" >
                </command>
            </menu>
        </menuContribution>
        
        <!-- context menu -->
        <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
            <menu id="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.command.rootmenu" 
              label="Datenmodell Generator Visualizer" 
              icon="icons/fontAwesome/fire.png">
                <visibleWhen checkEnabled="false">
                    <with variable="activeMenuSelection">
                        <count value="1" />
                    </with>
                </visibleWhen>
            </menu>
        </menuContribution>
        <menuContribution locationURI="popup:com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.command.rootmenu">
            <command commandId="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.command.treeDiff"
              label="Tree Diff" icon="icons/fontAwesome/search.png" style="push">
            </command>
            <command commandId="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.command.reset"
              label="Reset all Markers" icon="icons/fontAwesome/refresh.png" style="push">
                <!-- doesn't work this way :( -->
                <!--visibleWhen>
                    <with variable="selection">
                        <iterate ifEmpty="false" operator="or">
                            <instanceof value="org.eclipse.core.resources.IProjectNature"/>
                            <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
                            <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
                        </iterate>
                    </with>
               </visibleWhen-->
            </command>
        </menuContribution>
    </extension>
    
    <extension point="org.eclipse.ui.commands">
        <command defaultHandler="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.menu.TreeDiffMenuHandler"
          id="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.command.treeDiff" 
          name="TreeDiff">
        </command>
        <command defaultHandler="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.menu.ResetHandler"
          id="com.seitenbau.eclipse.plugin.datenmodell.generator.visualizer.command.reset" 
          name="Reset">
        </command>
    </extension>

</plugin>
